[Application]
FileLogger\Age=1
FileLogger\AgeType=1
FileLogger\Backup=true
FileLogger\DeleteOld=true
FileLogger\Enabled=false
FileLogger\MaxSizeBytes=66560
FileLogger\Path=/etc/qbittorrent/qBittorrent/data/logs

[BitTorrent]
Session\AddTorrentStopped=false
Session\AlternativeGlobalDLSpeedLimit=7700
Session\AlternativeGlobalUPSpeedLimit=500
Session\DefaultSavePath=/mnt/hdd4tb2/Фильмы
Session\DisableAutoTMMByDefault=false
Session\ExcludedFileNames=
Session\GlobalMaxSeedingMinutes=0
Session\GlobalUPSpeedLimit=500
Session\MaxActiveDownloads=1
Session\MaxActiveTorrents=1
Session\MaxActiveUploads=1
Session\MaxConnectionsPerTorrent=200
Session\MaxUploads=50
Session\Port=21792
Session\QueueingSystemEnabled=true
Session\RefreshInterval=1000
Session\SSL\Port=51396
Session\SaveResumeDataInterval=1
Session\ShareLimitAction=Remove
Session\SubcategoriesEnabled=true
Session\TempPath=/mnt/hdd4tb2/Загрузки/temp
Session\TempPathEnabled=false
Session\TorrentContentLayout=Original
Session\TorrentContentRemoveOption=Delete
Session\TorrentExportDirectory=
Session\UseAlternativeGlobalSpeedLimit=true

[Core]
AutoDeleteAddedTorrentFile=Never

[Meta]
MigrationVersion=8

[Preferences]
General\Locale=ru
MailNotification\req_auth=true
WebUI\AlternativeUIEnabled=false
WebUI\AuthSubnetWhitelist=192.168.1.0/24, 100.84.164.49/32
WebUI\AuthSubnetWhitelistEnabled=true
WebUI\CSRFProtection=false
WebUI\LocalHostAuth=true
WebUI\Password_PBKDF2="@ByteArray(gEbygEr18qitfNnXDHJP0Q==:YUJ7QE+2A0v7CnEQ7GnowhU+fihz2kYWUxwIR+OWJ1PxCOCVXqr6HZFGXt7ADHE9X7RLqq1X4rPBdO0D0u/LkA==)"
WebUI\RootFolder=/etc/qBittorrent/vuetorrent
WebUI\Username=root

[RSS]
AutoDownloader\DownloadRepacks=true
AutoDownloader\SmartEpisodeFilter=s(\\d+)e(\\d+), (\\d+)x(\\d+), "(\\d{4}[.\\-]\\d{1,2}[.\\-]\\d{1,2})", "(\\d{1,2}[.\\-]\\d{1,2}[.\\-]\\d{4})"
